numpy
sklearn==0.0
sklearn-crfsuite==0.3.6
smmap==4.0.0
streamlit==0.82.0
tabulate==0.8.9
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tzlocal==2.1
validators==0.18.2
watchdog==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1

